{{unit "cdmf.unit.ui.title" pageTitle="Building Map"}}
{{unit "cdmf.unit.leaflet"}}
{{#zone "topCss"}}
    <!-- Select2 CSS -->
    {{css "css/custom.css"}}
{{/zone}}

{{#zone "breadcrumbs"}}
    <li>
        <a href="{{@app.context}}/">
            <i class="icon fw fw-home"></i>
        </a>
    </li>
{{/zone}}

{{#zone "content"}}
<div id = "build-location"></div>
{{/zone}}

{{#zone "bottomJs"}}
    {{js "js/map-component.js"}}
{{/zone}}