


{{unit "cdmf.unit.lib.rickshaw-graph"}}

<div id="div-chart-sensorType1" data-websocketurlStream="{{websocketEndpointForStream1}}" data-sensorType="TEMPERATURE">
    <div class="chartWrapper" id="chartWrapper">
        <div id="yAxisSensorType1" class="custom_y_axis">TEMPERATURE</div>
        <div class="legend_container">
            <div id="smootherSensorType1" title="Smoothing"></div>
            <div id="legendSensorType1"></div>
        </div>
        <div id="chartSensorType1" class="custom_rickshaw_graph"></div>
        <div class="custom_x_axis">Time</div>
    </div>
</div>


{{unit "cdmf.unit.lib.rickshaw-graph"}}

<div id="div-chart-sensorType2" data-websocketurlStream="{{websocketEndpointForStream2}}" data-sensorType="HUMIDITY">
    <div class="chartWrapper" id="chartWrapper">
        <div id="yAxisSensorType2" class="custom_y_axis">HUMIDITY</div>
        <div class="legend_container">
            <div id="smootherSensorType2" title="Smoothing"></div>
            <div id="legendSensorType2"></div>
        </div>
        <div id="chartSensorType2" class="custom_rickshaw_graph"></div>
        <div class="custom_x_axis">Time</div>
    </div>
</div>


{{unit "cdmf.unit.lib.rickshaw-graph"}}

<div id="div-chart-sensorType3" data-websocketurlStream="{{websocketEndpointForStream3}}" data-sensorType="AC">
    <div class="chartWrapper" id="chartWrapper">
        <div id="yAxisSensorType3" class="custom_y_axis">AC</div>
        <div class="legend_container">
            <div id="smootherSensorType3" title="Smoothing"></div>
            <div id="legendSensorType3"></div>
        </div>
        <div id="chartSensorType3" class="custom_rickshaw_graph"></div>
        <div class="custom_x_axis">Time</div>
    </div>
</div>


{{unit "cdmf.unit.lib.rickshaw-graph"}}

<div id="div-chart-sensorType4" data-websocketurlStream="{{websocketEndpointForStream4}}" data-sensorType="DOOR">
    <div class="chartWrapper" id="chartWrapper">
        <div id="yAxisSensorType4" class="custom_y_axis">DOOR</div>
        <div class="legend_container">
            <div id="smootherSensorType4" title="Smoothing"></div>
            <div id="legendSensorType4"></div>
        </div>
        <div id="chartSensorType4" class="custom_rickshaw_graph"></div>
        <div class="custom_x_axis">Time</div>
    </div>
</div>


{{unit "cdmf.unit.lib.rickshaw-graph"}}

<div id="div-chart-sensorType5" data-websocketurlStream="{{websocketEndpointForStream5}}" data-sensorType="WINDOW">
    <div class="chartWrapper" id="chartWrapper">
        <div id="yAxisSensorType5" class="custom_y_axis">WINDOW</div>
        <div class="legend_container">
            <div id="smootherSensorType5" title="Smoothing"></div>
            <div id="legendSensorType5"></div>
        </div>
        <div id="chartSensorType5" class="custom_rickshaw_graph"></div>
        <div class="custom_x_axis">Time</div>
    </div>
</div>

<a class="padding-left"
   href="{{@app.context}}/device/{{device.type}}/analytics?deviceId={{device.deviceIdentifier}}
   &deviceName={{device.name}}">
    <span class="fw-stack">
        <i class="fw fw-ring fw-stack-2x"></i>
        <i class="fw fw-statistics fw-stack-1x"></i>
    </span> View Device Analytics
</a>
<!-- /statistics -->
{{#zone "bottomJs"}}
    {{js "js/moment.min.js"}}
    {{js "js/socket.io.min.js"}}
    {{js "js/device-stats.js"}}
{{/zone}}
