{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}

{{unit "cdmf.unit.ui.title" pageTitle="Home"}}
{{#zone "topCss"}}
    {{css "css/buildings.css"}}
    {{css "css/custom.css"}}
{{/zone}}
{{#zone "breadcrumbs"}}
    <li>
        <a href="{{@app.context}}/">
            <i class="icon fw fw-home"></i>
        </a>
    </li>
{{/zone}}

{{#zone "navbarActions"}}
    <li>
        <!--suppress HtmlUnknownTarget -->
        <a href="/buildingmonitor" class="cu-btn">
        <span class="icon fw-stack">
            <i class="fw fw-left fw-stack-1x"></i>
            <i class="fw fw-circle-outline fw-stack-2x"></i>
        </span>
            Go Back to Map View
        </a>
    </li>
{{/zone}}

{{#zone "content"}}
    <!--</header>-->
    <div class="row" data-num_of_floors="{{floorCount}}" id="buildingView">
        {{#each floors}}
        <div class="col-lg-5 col-md-6 col-centered message message-success" id = "div_{{this.num}}">

            {{#if this.image}}
                <div class="wr-stats-board-tile wr-stats-board-sidebar wr-stats-board-active">
                    <div>
                        <span id="active_{{../this.num}}">{{../this.active}}</span>
                    </div>
                    <div>
                        <span class="wr-stats-board-sidebar-text">ACTIVE DEVICES</span>
                    </div>
                </div>
                <div class="wr-stats-board-tile wr-stats-board-sidebar wr-stats-board-inactive">
                    <div>
                        <span id="inactive_{{../this.num}}">{{../this.inactive}}</span>
                    </div>
                    <div>
                        <span class="wr-stats-board-sidebar-text">INACTIVE DEVICES</span>
                    </div>
                </div>
                <div class="wr-stats-board-tile wr-stats-board-sidebar wr-stats-board-fault">
                    <div>
                        <span id="fault_{{../this.num}}">{{../this.fault}}</span>
                    </div>
                    <div>
                        <span class="wr-stats-board-sidebar-text">FAULT DEVICES</span>
                    </div>
                </div>
                <div class="wr-stats-board-tile wr-stats-board-sidebar wr-stats-board-alerts">
                    <div>
                        <span id="alerts_{{../this.num}}">0</span>
                    </div>
                    <div>
                        <span class="wr-stats-board-sidebar-text">TRIGGERED ALERTS</span>
                    </div>
                </div>
                <div id="{{num}}">
                    <div class="wr-stats-board-tile wr-stats-board-sidebar wr-stats-board-temperature">
                        <div>
                            <span id="temperature">-</span>
                        </div>
                        <div>
                            <span class="wr-stats-board-sidebar-text">TEMPERATURE</span>
                        </div>
                    </div>
                    <div class="wr-stats-board-tile wr-stats-board-sidebar wr-stats-board-motion">
                        <div>
                            <span id="motion">-</span>
                        </div>
                        <div>
                            <span class="wr-stats-board-sidebar-text">MOTION</span>
                        </div>
                    </div>
                    <div class="wr-stats-board-tile wr-stats-board-sidebar wr-stats-board-humidity">
                        <div>
                            <span id="humidity">-</span>
                        </div>
                        <div>
                            <span class="wr-stats-board-sidebar-text">HUMIDITY</span>
                        </div>
                    </div>
                    <div class="wr-stats-board-tile wr-stats-board-sidebar wr-stats-board-light">
                        <div>
                            <span id="light">-</span>
                        </div>
                        <div>
                            <span class="wr-stats-board-sidebar-text">light</span>
                        </div>
                    </div>
                    <div class="wr-stats-board-tile wr-stats-board-sidebar wr-stats-board-air" style="display:none">
                        <div>
                            <span id="airquality">-</span>
                        </div>
                        <div>
                            <span class="wr-stats-board-sidebar-text">airquality</span>
                        </div>
                    </div>
                </div>
                <br/>
                <a href="/buildingmonitor/floor?buildingId={{../../buildingId}}&floorId={{../this.num}}">
                    <span class="fw-stack">
                        <i class="fw fw-circle-outline fw-stack-2x"></i>
                        <i class="fw fw-view fw-stack-1x"></i>
                    </span>
                    View
                </a>
                <br/>
                <h4>{{this.suffix}} Floor</h4>

            {{else}}
                <div id="upload-view">
                    {{unit "locationview.unit.floorcreate" buildingId=../../buildingId floorId=../this.num}}
                </div>
            {{/if}}
        </div>
            <br>
        {{/each}}



    </div>


    {{unit "locationview.unit.ui.analytics.rangeSelector"}}
{{/zone}}

{{#zone "bottomJs"}}
    {{js "js/buildings.js"}}
{{/zone}}