{{unit "cdmf.unit.lib.handlebars"}}
{{unit "cdmf.unit.lib.rickshaw-graph"}}

{{#zone "topCss"}}
    {{css "css/water-level.css"}}
{{/zone}}

<div id="div-chart" data-websocketurl="{{websocketEndpoint}}">
    <div class="water-level-wrapper">
        <div class="water-level">
            <div class="water-level_main">
                <div class="water-level_inner">
                    <div class="water" id="water"></div>
                </div>
                <div class="highlight"></div>
            </div>
        </div>
    </div>
    <div id="chartWrapper-temperature" class="chartWrapper">
        <div id="y_axis-temperature" class="custom_y_axis" style="margin-top: -20px;">Temperature</div>
        <div id="chart-temperature" class="custom_rickshaw_graph"></div>
        <div class="custom_x_axis">Time</div>
    </div>
    <div id="chartWrapper-humidity" class="chartWrapper">
        <div id="y_axis-humidity" class="custom_y_axis" style="margin-top: -20px;">Humidity</div>
        <div id="chart-humidity" class="custom_rickshaw_graph"></div>
        <div class="custom_x_axis">Time</div>
    </div>
</div>
<a class="padding-left"
   href="{{@app.context}}/device/{{device.type}}/analytics?deviceId={{device.deviceIdentifier}}&deviceName={{device.name}}">
    <span class="fw-stack">
        <i class="fw fw-ring fw-stack-2x"></i>
        <i class="fw fw-statistics fw-stack-1x"></i>
    </span> View Device Analytics
</a>
<!-- /statistics -->
{{#zone "bottomJs"}}
    {{js "js/moment.min.js"}}
    {{js "js/socket.io.min.js"}}
    {{js "js/device-stats.js"}}
{{/zone}}
