{{!
  Copyright (c) 2016, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

  WSO2 Inc. licenses this file to you under the Apache License,
  Version 2.0 (the "License"); you may not use this file except
  in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
}}
{{unit "locationview.unit.lib.heatmap"}}
{{unit "locationview.unit.lib.uikit"}}

{{#zone "topCss"}}
    {{css "css/floorview.css"}}
{{/zone}}

{{#zone "navbarActions"}}
    <li>
        <!--suppress HtmlUnknownTarget -->
        <a href="{{@app.context}}/buildings?buildingId={{buildingId}}" class="cu-btn">
        <span class="icon fw-stack">
            <i class="fw fw-left fw-stack-1x"></i>
            <i class="fw fw-circle-outline fw-stack-2x"></i>
        </span>
            Goto Building View
        </a>
    </li>
    <li>
        <a href="#" id = "show-analytics" class="show-analytics">
            <span class="icon fw-stack">
                <i class="fw fw-analytics-extensions fw-stack-1x"></i>
                <i class="fw fw-circle-outline fw-stack-2x"></i>
            </span>
            <span id ="analytics">
            Show analytics
            </span>
        </a>
    </li>
{{/zone}}

<form class="form-horizontal hidden" id = "radio-selections">
    <div class="form-group">
        <div class="col-sm-12">
            <label class="custom-radio col-sm-3">
                <input type="radio" name="delete-option" checked="checked" value="Temperature">
                <span class="helper">Temperature</span>
            </label>
            <label class="custom-radio col-sm-2">
                <input type="radio" name="delete-option" value="Motion">
                <span class="helper">Motion</span>
            </label>
            <label class="custom-radio col-sm-2">
                <input type="radio" name="delete-option" value="Humidity">
                <span class="helper">Humidity</span>
            </label>
            <label class="custom-radio col-sm-2">
                <input type="radio" name="delete-option" value="Light">
                <span class="helper">Light</span>
            </label>
        </div>
    </div>
</form>
<!--end of image drag drop-->
<div id="image" buildingId ="{{buildingId}}" floorId="{{floorId}}">
    <img id = "floor-image" src="data:image/png;base64,{{imageObj}}" alt="#" id="img"/>
    <!--<canvas id="heatmap"> </canvas>-->
</div>
<div id="heat-map-hidden" class="hidden"></div>

{{unit "locationview.unit.ui.analytics.rangeSelector"}}
{{~#zone "bottomJs"}}
    {{js "js/floorview.js"}}
{{/zone}}